<% provide :title, t(".title") %>
<h1><%= t ".title"%></h1>
<p>
  <%= t(".intro1")%>
  <%= link_to t(".ruby_on_rails_tutoirial"),"http://www.railstutorial.org" %>
  <%= t(".intro2")%>
  <%= link_to t(".book"),"http://www.railstutorial.org/book" %>
  <%= t(".intro3")%>
  <%= link_to t(".screencast_series"),"http://screencasts.railstutorial.org/" %>
  <%= t(".intro4")%>
  <%= link_to t(".ruby_on rails"),"http://http://rubyonrails.org/" %>
  <%= t(".intro5")%>
</p>
