<% provide(:title, t(".title")) %>
<h1><%= t(".title")%></h1>
<p>
  <%= t(".intro1")%>
  <%= link_to t(".rails tutorial help section"),"http://www.railstutorial.org/help"%>
  <%= t(".intro2")%>
  <%= link_to t(".ruby on rails tutorial"),"http://www.railstutorial.org/help"%>
</p>
