<% provide :title, t(".title")  %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".intro1" %>
  <%= link_to t(".rails_tutorial_help_section"),"http://www.railstutorial.org/help"%>
  <%= t ".intro2" %>
  <%= link_to t(".ruby_on_rails_tutorial"),"http://www.railstutorial.org/help"%>
</p>
